body {
  margin: 0;
  padding: 0 0;
  cursor: default; }

.top-bg {
  background-color: #574943;
  background-image: url(../img/header--bg.jpg);
  min-height: 1410px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1000px;
  margin: 0 auto; }
  .top-bg--margin {
    height: 40px; }

.container {
  max-width: 570px;
  margin: 0 auto;
  padding: 0 15px; }
  .container--button {
    display: block;
    width: 188px;
    height: 38px;
    background-color: #56ba5b;
    margin: 0 auto 47px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: "Arial";
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.3);
    background: radial-gradient(farthest-side ellipse at top right, #79c97d, #56ba5b); }
    .container--button:hover {
      box-shadow: 0 0 10px 3px rgba(86, 186, 91, 0.5); }
    .container--button:active {
      background: none;
      background-color: #409c44; }
  .container--h2 {
    text-transform: uppercase;
    margin: 47px auto;
    text-align: center; }
    .container--h2 h2 {
      padding: 0 32px;
      margin: 0;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 34px;
      color: #7a695a;
      font-family: "Arial";
      font-weight: normal;
      display: inline-block;
      border: solid 1px #7a695a; }

.topline {
  height: 35px; }

.topline__logo {
  width: 50%;
  float: left;
  line-height: 35px; }
  .topline__logo img {
    vertical-align: middle; }

.topline__share {
  width: 50%;
  float: right;
  height: 35px; }
  .topline__share a {
    float: right;
    margin: 0 4px; }

.delimiter {
  height: 90px; }

.title {
  text-align: center;
  padding: 0 4vw; }
  .title h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 34px;
    color: white;
    font-family: "Arial";
    font-weight: bold;
    text-transform: uppercase; }

.teasers {
  background-color: #f1f1f2;
  text-align: center;
  padding: 40px 0 0;
  box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.3); }
  .teasers--item {
    display: inline-block;
    margin: 0 15px;
    max-width: 116px;
    vertical-align: top; }
    .teasers--item img {
      display: block;
      margin: 0 auto; }
    .teasers--item span {
      font-size: 14px;
      color: #666666;
      font-family: "Arial";
      margin: 19px 0;
      display: block; }

.goods {
  text-align: center; }
  .goods--item {
    text-align: center;
    display: inline-block; }
  .goods--item.top {
    margin: 0 15px 28px; }
  .goods--item.bottom {
    margin: 28px 15px 0; }
  .goods--button, .goods img, .goods span {
    display: block;
    margin: 0 auto; }
  .goods span {
    font-size: 16px;
    line-height: 34px;
    color: #040506;
    font-family: "Arial";
    font-weight: bold; }
  .goods--button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 33px;
    color: white;
    font-family: "Arial";
    text-align: center;
    background-color: #7a695a;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.3);
    background: radial-gradient(farthest-side ellipse at top right, #968372, #7a695a);
    border-radius: 3px;
    max-width: 147px;
    cursor: pointer; }
    .goods--button:hover {
      box-shadow: 0 0 10px 3px rgba(122, 105, 90, 0.5); }
    .goods--button:active {
      background: none;
      background-color: #5e5146; }

hr {
  width: 100%;
  size: 1px;
  color: #d5d5d5; }

.footer {
  background-color: #ececec;
  font-size: 12px;
  line-height: 60px;
  color: #a1a1a1;
  font-family: "Arial";
  text-align: center; }
  .footer a {
    color: #a1a1a1; }

/*# sourceMappingURL=style.css.map */
